/*body*/
body {
    font-family: 'Raleway', sans-serif;
}

/* navbar */
.logo-banner {
    vertical-align: middle;
    border-style: none;
    height: 40px;
    width: 160px;
    margin-left: 90px;
    margin-top: 2px;
}

.navbar-nav {
    margin-right: 0 !important;
    padding-right: 100px;
}

.navbar {
    background-color: #0E144A;
    color: #fff !important;
}

.nav-item a {
    color: #fff !important;
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
}

.nav-item {
    padding-left: 10px;
}

.navbar-brand {
    color: #fff !important;
    padding-left: 10px;
}

#button {
    padding: 7px 26px;
    border-radius: 30px;
    color: #fff;
    margin-right: 60px;
    font-size: 13px;
    margin-top: 5px;
}

/*banner section*/

.banner {
    padding: 18px 100px;
    background-image: url("../img/img2.jpg");
}

.text {
    padding-top: 100px;
    margin: 50px;
}

.subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
}

h1 {
    font-size: 62px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
}


p {
    font-size: 24px;
    font-weight: 400;
    color: #c5cbe8;
}

.btn {
    padding: 13px 47px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 28px;
    text-align: center;
    margin-top: 45px;
    border: 2px solid #00e099;
    background-color: #00e099;
}

.theme-border2 {
    border: 2px solid #00e099;
}



img {
    margin-top: 25px;
    width: 550px;
}

.banner2 {
    background-color: #4B69E9;
    margin-top: 1px;
    padding-top: 170px;
    padding-bottom: 140px;
}

h4, h4{
    margin-bottom: 20px;
    color: #fff !important;
    font-size: 30px; 
    font-weight: 700; 
    margin-top: 43px; 
}

.service-img {
    margin-top: -16px;
    width: 80px;
}

p{
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        color:#C5CBE8;
        padding-right: 30px;
      }

/*our service*/
#service {
    background-color: #2F3036;
    padding-top: 100px;
    padding-bottom: 160px;
}
.text-subtitle {
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    text-align: center;
}
.text-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.icon-img {
    margin-top: 25px;
    width: 76px;
    margin-bottom: 33px;
}

#border-lila {
    background-color: #D7DEFE;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 112px;
}
#border-orang {
    background-color: #FEE7D5;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 30px;
}
#border-pink {
    background-color: #FEDCE6;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 112px;
}
#border-green {
    background-color: #E4F9D1;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 30px;
}
.h3, h3 {
    font-size: 30px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 15px;
}

/*about area*/

.subtitle-about {
    font-size: 24px;
    font-weight: 700;
    color: #343c55;
    padding-left: 20px;
    margin-bottom: 6px;
}
h2, h2 {
    color: #343c55;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 25px;
}
#about {
    font-size: 20px;
    font-weight: 500;
    color: #646d8a;
}
.img-about {
    margin-top: 25px;
    width: 60px;
    margin-bottom: 33px;   
}
.about-img {
    margin-top: 5px;
    width: 45px;
    margin-bottom: 5px;   
}

.paragraph-about {
    font-size: 20px;
    font-weight: 400;
    color: #646d8a;
}

h5, h5 {
    font-size: 21px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 30px;
}

/*portfolio area*/

#portfolio {
    background-color: #F0F6FB;
    padding-top: 160px;
    padding-bottom: 140px;
}
.title2 {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 700;
    color: #222;
}
.subtitle-porto {
    font-size: 18px;
    margin-bottom: 6px;
}
.title-porto {
    color: #222;
    font-size: 36px;
    margin-bottom: 20px;
}

.button-solid {
    border: none;
    border: 0;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 12px;
    color: #222222;
    cursor: pointer;
  }

.button-solid:hover {
    color: #00e099;
}
.button-solid:focus {
    border: none;
    outline: none;
}
.img-fluid {
    border-radius: 10px;
}
 .partofolio-erea {
    padding-top: 160px;
    padding-bottom: 140px;
 }