
/*body*/
body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

/* navbar */
.logo-banner {
    vertical-align: middle;
    border-style: none;
    height: 40px;
    width: 160px;
    margin-left: 90px;
    margin-top: 2px;
}

.navbar-nav {
    margin-left: 233px !important;
    padding-right: 100px;
}

.navbar {
    background-color: #0E144A;
    color: #fff !important;
}

.nav-item a {
    color: #fff !important;
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
}

.nav-item {
    padding-left: 10px;
}

.navbar-brand {
    color: #fff !important;
    padding-left: 10px;
}

#button {
    padding: 7px 26px;
    border-radius: 30px;
    color: #fff;
    margin-right: 60px;
    font-size: 13px;
    margin-top: 5px;
}

/*banner section*/

.banner {
    padding: 18px 100px;
    background-image: url("../img/img2.jpg");
}

.text {
    padding-top: 100px;
    margin: 50px;
}

.subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
}

h1 {
    font-size: 62px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 700;
}


p {
    font-size: 24px;
    font-weight: 400;
    color: #c5cbe8;
}

.btn {
    padding: 13px 47px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 28px;
    text-align: center;
    margin-top: 45px;
    border: 2px solid #00e099;
    background-color: #00e099;
}

.theme-border2 {
    border: 2px solid #00e099;
}



img {
    margin-top: 25px;
    width: 550px;
}

.banner2 {
    background-color: #4B69E9;
    margin-top: 1px;
    padding-top: 170px;
    padding-bottom: 140px;
}

h4, h4{
    margin-bottom: 20px;
    color: #fff !important;
    font-size: 30px; 
    font-weight: 700; 
    margin-top: 43px; 
}

.service-img {
    margin-top: -16px;
    width: 80px;
}

p{
        font-size: 20px;
        font-weight: 400;
        line-height: 33px;
        color:#C5CBE8;
        padding-right: 30px;
      }


/*our service*/
#service {
    background-color: #2F3036;
    padding-top: 100px;
    padding-bottom: 0px;
}
.text-subtitle {
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    text-align: center;
}
.text-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.icon-img {
    margin-top: 25px;
    width: 76px;
    margin-bottom: 33px;
}

#border-lila {
    background-color: #D7DEFE;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 112px;
}
#border-orang {
    background-color: #FEE7D5;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 30px;
}
#border-pink {
    background-color: #FEDCE6;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 112px;
}
#border-green {
    background-color: #E4F9D1;
    padding: 45px 130px;
    margin-bottom: 30px;
    border-radius: 10PX;
    margin-left: 30px;
}
.h3, h3 {
    font-size: 30px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 15px;
}

/*about area*/

.subtitle-about {
    font-size: 24px;
    font-weight: 700;
    color: #343c55;
    padding-left: 20px;
    margin-bottom: 6px;
}
h2, h2 {
    color: #343c55;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 25px;
}
#about {
    font-size: 20px;
    font-weight: 500;
    color: #646d8a;
}
.img-about {
    margin-top: 25px;
    width: 60px;
    margin-bottom: 33px;   
}
.about-img {
    margin-top: 5px;
    width: 45px;
    margin-bottom: 5px;   
}

.paragraph-about {
    font-size: 20px;
    font-weight: 400;
    color: #646d8a;
}

h5, h5 {
    font-size: 21px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 30px;
}

/*portfolio area*/

#portfolio {
    background-color: #F0F6FB;
    padding-top: 160px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.title2 {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 700;
    color: #222;
}
.subtitle-porto {
    font-size: 18px;
    margin-bottom: 6px;
}
.title-porto {
    color: #222;
    font-size: 36px;
    margin-bottom: 20px;
}

.button-solid {
    border: none;
    border: 0;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 12px;
    color: #222222;
    cursor: pointer;
  }

.button-solid:hover {
    color: #00e099;
}
.button-solid:focus {
    border: none;
    outline: none;
}
.img-fluid {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

 .partofolio-erea {
    padding-top: 140px;
    padding-bottom: 160px;
 }
.myrow {
    padding-bottom: 160px;
}
 /*skill area*/
 .skill {
    background-color: #fff;
    margin-top: 160px;
    margin-bottom: 430px;
 }

 .title1 {
    padding-top: 160px;
    paddi
 }

 .img-skill {
    padding-top: 70px;
 }

 .work-text {
    font-size: 24px;
    font-weight: 700;
    color: #343c55;
    padding-left: 20px;
    margin-bottom: 6px;
 }
 .work-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #343c55;
 }

 .work-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #646d8a;
    margin-bottom: 1rem;
 }
 .view-text {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 24px;
    color: #343c55;
    padding-left: 20px;
    margin-top: -106px;
 }
 .view-title {
    font-size: 60px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 30px;
 }

 .view-p {
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #646d8a;
    margin-bottom: 1rem;
  }

  .green-link {
    color: #00DE98;
    text-decoration: underline;
  }

  .green-link:hover {
color: #000;
text-decoration: underline;
}

 /* work area*/
 .number {
    font-size: 48px;
    font-weight: 700;
    color: #343c55;
    }
    .mynumber {
        font-size: 20px;
        font-weight: 700;
        color: #343c55;
    }
    a {
        color:  #00e099;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 100px;
    }
    a:hover {
        color: #222;
    }

    
/*choose area*/
#choose-area {
    background-color: #2F3036;
    padding-top: 405px;
    padding-bottom: 135px;
    
}
.container .content1 {
    margin-left: 90px;
    position: absolute;
    bottom: 0;
    background-color: #4B69E9;
    color: #fff;
    padding: 110px;
    margin-bottom: -218px;
    padding-bottom: 335px;
    width: 1306px;
}

.chosse-text {
    margin-left: 10px;
    margin-right: 10px;
}

/*team area*/
#team {
    background-color: #Fff;
    padding-top: 160px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.team-img {
    margin-top: 25px;
    margin-bottom: 100px;
    width: 300px;
}
.container {
    position: relative;
    
}
.container .content {
    margin-left: 131px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 139px;
    padding-left: 38px;
    padding-bottom: 3px;
}

.team-hidder {
color: #000;
margin-bottom: 0px;
}
.text-img {
    z-index: 9;
    margin: 30px;
    background: #009938;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

/*test area*/
#test {
    background-color: #4B69E9;
}
.img-test {
    margin-left: -140px;
}
.bi {
    padding-top: 20px;
    margin-top: -87px;
    margin-left: -65px;
}
.small-icon {
    margin-top: 105px;
}
blockquote{
font-size: 50px;
font-weight: 400;
margin-left: 47px;
padding-top: 172px;
padding-right: 0px;
}
.test-img {
    border-radius: 50%;
    width: 65px;
    margin-left: 29px;
}
.text-test {
    margin-top: 45px;
}
.txt {
    margin-right: 10px;
    font-weight: 700;
    color: #fff;
    margin-left: 60px;
    margin-top: 45px;
}
 /*blog area*/

.blog-img {
    width: 100%;
    border-radius: 7%;
}
..blog-img:hover {
    transform: scale(1.2);
    }
.blog-text {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #343c55;
}
.subtitle-blog{
    color: #00e099;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
.title-blog1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #343c55;
}
.title-blog {
    font-size: 24px;
    font-weight: 700;
    color: #343c55;
    margin-bottom: 10px;
    margin-top: .25rem !important;
    text-align: center;
}
.title-blog:hover {
    color: #00e099;
}
.blog-link {
    font-size: 18px;
    font-weight: 900;
    color: #343c55;
}
.blog-link:hover {
    color: #00DE98;
}
.blog-p {
    font-weight: 400;
    line-height: 33px;
    color: #646d8a;
    font-size: 16px;
    text-align: center;
}


#kontakt {
    padding-bottom: 143px;
    padding-top: 142px;
}
#mydiv {
    margin-top: 10px;
}
.location {
    fill: #fff;
    background-color: #00DE98;
    border-radius: 50%
    margin-bottom: 20px;
    margin-left: 150px;
 

}
.title-kontakt {
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.color-paragraph {
    margin-left: 20px;
    padding: 0 90px;
    color: #646d8a;
    font-size: 20px;
font-weight: 400;
text-align: center
}
/*footer area*/
#mycontent {
    background-color: #4B69E9;
}
/*footer area*/

footer {
    background-color: #2F3036;
    padding-bottom: 30px;
    margin-top: 10px;
}
.footer-area {
     padding-top: 115px;
}
.foot-logo {
    margin-bottom: 35px;
}

.logo-img {
    max-width: 30%;
    height: auto;
    margin-top: -7px;

}
.footer-p {
    margin-top: 0;
margin-bottom: 1rem;
font-size: 20px;
font-weight: 400;
line-height: 33px;
padding-bottom: 20px;
color: #c5cbe8;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 20px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    margin-right: 12px;
}
.icons ion-icon:hover{
    color:#00DE98;
}

#icons ion-icon{
    color: #fff;
    font-size: 25px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

#icons ion-icon:hover{
    color:#00DE98;
}

a {
    color: #c5cbe8;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-decoration-line: none;
}

h6, h6{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize !important;
    color: #fff;
    margin-top: 0;
}
li a:hover {
    color: #00DE98;
text-decoration: underline;
}

.adress {
    font-weight: 700;
}
.footer-bottom{
margin-bottom: 50px;
margin-top: 50px;
}

.footer-link:hover {
    color: #00DE98;
text-decoration: underline;
}
a.footer-link {
   font-weight: 600;
}
.end-footer {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: start;
    margin-left: 0px;
}
.telefon {
    margin-left: -3px;
}

/*animation*/

.blog-img:hover {
   transform: scale(1.1);
}
.blog-img {
    transition: all .7s;
}

#img-text {
    background-color: #00e099;
}