@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon-font/Flaticon.eot");
  src: url("../fonts/flaticon-font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon-font/Flaticon.woff2") format("woff2"),
       url("../fonts/flaticon-font/Flaticon.woff") format("woff"),
       url("../fonts/flaticon-font/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon-font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-chat:before { content: "\f100"; }
.flaticon-002-microphone:before { content: "\f101"; }
.flaticon-003-money:before { content: "\f102"; }
.flaticon-004-heart:before { content: "\f103"; }
.flaticon-005-user:before { content: "\f104"; }
.flaticon-006-trophy:before { content: "\f105"; }
.flaticon-007-car:before { content: "\f106"; }
.flaticon-008-user:before { content: "\f107"; }
.flaticon-009-user:before { content: "\f108"; }
.flaticon-010-information:before { content: "\f109"; }
.flaticon-011-cloud-computing:before { content: "\f10a"; }
.flaticon-012-edit:before { content: "\f10b"; }
.flaticon-013-layers:before { content: "\f10c"; }
.flaticon-014-loupe:before { content: "\f10d"; }
.flaticon-015-folder:before { content: "\f10e"; }
.flaticon-016-presentation:before { content: "\f10f"; }
.flaticon-017-trash:before { content: "\f110"; }
.flaticon-018-video-camera:before { content: "\f111"; }
.flaticon-019-key:before { content: "\f112"; }
.flaticon-020-users:before { content: "\f113"; }
.flaticon-021-message:before { content: "\f114"; }
.flaticon-022-speakers:before { content: "\f115"; }
.flaticon-023-battery:before { content: "\f116"; }
.flaticon-024-settings:before { content: "\f117"; }
.flaticon-025-favorites:before { content: "\f118"; }
.flaticon-026-gamepad:before { content: "\f119"; }
.flaticon-027-compass:before { content: "\f11a"; }
.flaticon-028-credit-card:before { content: "\f11b"; }
.flaticon-029-user:before { content: "\f11c"; }
.flaticon-030-planet-earth:before { content: "\f11d"; }
.flaticon-031-book:before { content: "\f11e"; }
.flaticon-032-monitor:before { content: "\f11f"; }
.flaticon-033-flag:before { content: "\f120"; }
.flaticon-034-laptop:before { content: "\f121"; }
.flaticon-035-return:before { content: "\f122"; }
.flaticon-036-eraser:before { content: "\f123"; }
.flaticon-037-paint-brush:before { content: "\f124"; }
.flaticon-038-id-card:before { content: "\f125"; }
.flaticon-039-calendar:before { content: "\f126"; }
.flaticon-040-filter:before { content: "\f127"; }
.flaticon-041-file:before { content: "\f128"; }
.flaticon-042-printer:before { content: "\f129"; }
.flaticon-043-eye:before { content: "\f12a"; }
.flaticon-044-placeholder:before { content: "\f12b"; }
.flaticon-045-file:before { content: "\f12c"; }
.flaticon-046-download:before { content: "\f12d"; }
.flaticon-047-map:before { content: "\f12e"; }
.flaticon-048-medal:before { content: "\f12f"; }
.flaticon-049-cloud:before { content: "\f130"; }
.flaticon-050-settings:before { content: "\f131"; }
.flaticon-051-chat:before { content: "\f132"; }
.flaticon-052-zoom-out:before { content: "\f133"; }
.flaticon-053-file:before { content: "\f134"; }
.flaticon-054-mail:before { content: "\f135"; }
.flaticon-055-cursor:before { content: "\f136"; }
.flaticon-056-speaker:before { content: "\f137"; }
.flaticon-057-battery:before { content: "\f138"; }
.flaticon-058-photo-camera:before { content: "\f139"; }
.flaticon-059-alarm-clock:before { content: "\f13a"; }
.flaticon-060-reload:before { content: "\f13b"; }
.flaticon-061-calculator:before { content: "\f13c"; }
.flaticon-062-smartphone:before { content: "\f13d"; }
.flaticon-063-fast-forward:before { content: "\f13e"; }
.flaticon-064-wifi:before { content: "\f13f"; }
.flaticon-065-envelope:before { content: "\f140"; }
.flaticon-066-line-chart:before { content: "\f141"; }
.flaticon-067-padlock:before { content: "\f142"; }
.flaticon-068-zoom-in:before { content: "\f143"; }
.flaticon-069-bell:before { content: "\f144"; }
.flaticon-070-bluetooth:before { content: "\f145"; }
.flaticon-071-box:before { content: "\f146"; }
.flaticon-072-inbox:before { content: "\f147"; }
.flaticon-073-play-button:before { content: "\f148"; }
.flaticon-074-safebox:before { content: "\f149"; }
.flaticon-075-cutlery:before { content: "\f14a"; }
.flaticon-076-megaphone:before { content: "\f14b"; }
.flaticon-077-file:before { content: "\f14c"; }
.flaticon-078-pause:before { content: "\f14d"; }
.flaticon-079-share:before { content: "\f14e"; }
.flaticon-080-folder:before { content: "\f14f"; }
.flaticon-081-settings:before { content: "\f150"; }
.flaticon-082-padlock:before { content: "\f151"; }
.flaticon-083-rss:before { content: "\f152"; }
.flaticon-084-bar-chart:before { content: "\f153"; }
.flaticon-085-power-button:before { content: "\f154"; }
.flaticon-086-home:before { content: "\f155"; }
.flaticon-087-upload:before { content: "\f156"; }
.flaticon-088-next:before { content: "\f157"; }
.flaticon-089-message:before { content: "\f158"; }
.flaticon-090-phone-call:before { content: "\f159"; }
.flaticon-091-cloud-computing:before { content: "\f15a"; }
.flaticon-092-message:before { content: "\f15b"; }
.flaticon-093-shopping-cart:before { content: "\f15c"; }
.flaticon-094-like:before { content: "\f15d"; }
.flaticon-095-music:before { content: "\f15e"; }
.flaticon-096-idea:before { content: "\f15f"; }
.flaticon-097-atomic:before { content: "\f160"; }
.flaticon-098-checked:before { content: "\f161"; }
.flaticon-099-shield:before { content: "\f162"; }